@charset "UTF-8";

/* 
    Paleta de cores
    Verde: #49a0d
    Lilás #5f2c82

*/

:root {
    --lilas: #5f2c82;
    --verde: #49a09d;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
    color: white;
    position: relative;
    bottom: -8px;
    left: 3px;
  font-variation-settings:
  'FILL' 1,
  'wght' 900,
  'GRAD' 500,
  'opsz' 48

}

body {
    background-color: var(--lilas);
}

main {
    background-color: white;
    width: 250px;
    height: 550px;
    
    margin: auto;
    border-radius: 20px;
    margin-top: 100px;
}

h1 {
    text-align: center;
    padding: 10px;
}

div > p {
    padding: 0px 10px 10px 10px;
}

img {
    width: 250px;
    border-radius: 20px 20px 0px 0px;
    height: 230px;
}

div.icone {
    background-color: var(--lilas);
    width: 235px;
    margin: auto;
    margin-bottom: 5px;
    padding: 1px 0px 1px 1px;
    border-radius: 5px;
}



#ilogin, #isenha {
    width: 202px;
    height: 32px;
    border-radius: 5px;
    background-color: #d4fffeee;

}

#ilogin:hover, #isenha:hover {
    background-color: white;
}

.b {
    margin: auto;
    padding: 1px;
    text-align: center;
}

.b1, .b2 {
    border: 1px solid var(--verde) ;

    width: 236px;
    height: 38px;
    color: var(--verde);
    border-radius: 5px;
}

.b1 {
    background-color: var(--verde);
    color: white;
}

.b1:hover {
    background-color: #3c8380;
}

.b2:hover {
    background-color: #70f0d0;
}
